# Excel temporary lock files
~$*.xlsx
~$*.xlsm
~$*.xlsb
~$*.xls

# Python & build scripts
*.py
__pycache__/
*.pyc

# Editor & OS files
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Log files
*.tmp
*.log
